@tailwind base;
@tailwind components;
@tailwind utilities;

.background-color {
    /*background-color: #0e2439;*/
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity));
}

.text-color-info-light {
    color: #9cb3c9;
}

.text-color-info-dark {
    color: #4e5b67;
}

.text-color-main {
    color: #fff;
}